:root {
  --primary-color: black;
  --secondary-color: white;
}

.chessboard {
  /* background-color: black; */
  height: 500px;
  width: 500px;
  background: conic-gradient(
      var(--secondary-color) 0.25turn,
      var(--primary-color) 0.25turn 0.5turn,
      var(--secondary-color) 0.5turn,
      0.75turn,
      var(--primary-color) 0.75turn
    )
    top left / 25% 25% repeat;
}
